.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between carousel and controls */
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    height: auto; /* Adjust height dynamically */
    min-height: 200px; /* Set a minimum height to prevent cutting off content */
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* Adjust spacing between items */
    height: 100%; /* Ensure the carousel takes full height */
}

.carousel-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px; /* Add space between carousel and buttons */
}

.carousel-button {
    background-color: var(--button-background-color);
    color: var(--button-hover-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

    .carousel-button:hover {
        background-color: var(--secondary-background-color);
        color: var(--button-hover-text-color);
    }

    .carousel-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
